.inner-timeline {
  position: relative;
  margin-top: -50px;
  margin-bottom: 20px;
}
.timeline-container-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.container {
  position: relative;
  z-index: 2;
  margin: 0;
  display: grid;
  grid-auto-flow: dense;
  padding: 0;
  padding-left: 1rem;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0rem;
  }
}

@media (min-width: 1366px) {
  .item {
    padding-left: 1rem;
  }
}

.single-row {
  grid-template-columns: repeat(10, 1fr);
}

.item:nth-child(20n + 20) {
  grid-column: 1;
}
.item:nth-child(20n + 19) {
  grid-column: 2;
}
.item:nth-child(20n + 18) {
  grid-column: 3;
}
.item:nth-child(20n + 17) {
  grid-column: 4;
}
.item:nth-child(20n + 16) {
  grid-column: 5;
}
.item:nth-child(20n + 15) {
  grid-column: 6;
}
.item:nth-child(20n + 14) {
  grid-column: 7;
}
.item:nth-child(20n + 13) {
  grid-column: 8;
}
.item:nth-child(20n + 12) {
  grid-column: 9;
}
.item:nth-child(20n + 11) {
  grid-column: 10;
}

.item {
  text-align: center;
  padding: 0;
  width: 115px;
  height: 160px;
  display: flex;
  align-items: start;
  justify-content: top;
  flex-direction: column;
  padding-left: 0;
  // background-color: #ccc;
  // border: 1px solid #99999923;
}

// Laptop
@media (min-width: 1024px) {
  .item {
    width: 97px;
  }
}

@media (min-width: 1366px) {
  .item {
    width: 116px;
  }
}

// Desktop
@media (min-width: 1920px) {
  .item {
    width: 150px;
  }
}

.single-line {
  border-top: 1px dashed lightgray;
  position: absolute;
  top: 0;
  left: 55px;
}

// Laptop
@media (min-width: 1024px) {
  .single-line {
    width: 700px;
  }
}

@media (min-width: 1366px) {
  .single-line {
    width: 1035px;
  }
}

// Desktop
@media (min-width: 1920px) {
  .single-line {
    width: 1350px;
  }
}

.outer-main-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  flex: 0 0 26px;
  box-sizing: border-box;
}

.inner-main-circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 23px;
  box-sizing: border-box;
}

.step-circle {
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 10px;
  flex: 0 0 16px;
  box-sizing: border-box;
}

.general-alignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.general-alignment-expanded {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  gap: 1px;
  align-items: flex-start;
  width: 100%;
  height: 53px;
}

.step-title {
  font-weight: 500;
  text-align: start;
  font-size: 11px;
  padding-bottom: 0;
  color: #0a56ae;
}

.step-title-expanded {
  font-weight: 500;
  text-align: start;
  font-size: 11px;
  padding-bottom: 0;
  color: #0a56ae;
  white-space: wrap;
  font-weight: 500;
  text-wrap: wrap;
  // overflow: auto;
}

.main-step-alignment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.expanded-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 55px;
}

.expanded-square {
  width: 17px;
  height: 17px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 10px;
  flex: 0 0 17px;
  box-sizing: border-box;
}

.expanded-alignment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 2px;
}

.step-datetime {
  font-size: 10px;
  color: #b7b7b7;
  text-align: start;
  white-space: nowrap;
}

.expand-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expand-button-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.expand-line {
  border: 2px dashed #b3b3b3;
  width: 100%;
}

.step-info-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 30px;
  padding-bottom: 7px;
  // padding-left: 45px;
  // margin-bottom: 5px;
}

// Laptop
@media (min-width: 1024px) {
  .step-info-area {
    padding-left: 37px;
  }
}

// Larger Laptop
@media (min-width: 1366px) {
  .step-info-area {
    padding-left: 45px;
  }
}

.line-container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0;
}

.horizontal-line {
  display: flex;
  flex-direction: row;
  height: 2px;
  width: 100%;
}

.horizontal-line-1 {
  border-top: 1px solid pink;
  height: 1px;
  width: 50%;
}

.horizontal-line-2 {
  border-top: 1px solid pink;
  height: 1px;
  width: 50%;
}

.vertical-line {
  border-left: 1px solid pink;
  height: 20px;
  width: 2px;
  margin-left: 10px;
}

.alignment-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.alignment-2 {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: flex-end;
}

.alignment-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.alignment-4 {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: flex-start;
}

.main-progress-line {
  width: 100%;
  height: 1px;
  border-top: 1px solid;
}

.bad-case-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}

.bad-case-container {
  display: flex;
  flex-direction: column;
}

.line-padding-handle {
  padding-top: 23px;
}

// Laptop
@media (min-width: 1024px) {
  .line-padding-handle {
    padding-top: 24px;
  }
}

// Larger Laptop
@media (min-width: 1366px) {
  .line-padding-handle {
    padding-top: 24px;
  }
}

.line-padding-handle-bad-case {
  padding-top: 42px;
}

// Laptop
@media (min-width: 1024px) {
  .line-padding-handle-bad-case {
    padding-top: 43px;
  }
}

// Larger Laptop
@media (min-width: 1366px) {
  .line-padding-handle-bad-case {
    padding-top: 43px;
  }
}

.curve-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.curve-wrapper-btm {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.curve-inner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 65px;
}

.curve-inner-btm {
  display: flex;
  width: 100%;
  height: 95px;
}