.table-card {
    margin: 0rem 0rem;
}

.jobtimeline thead>tr>th:first-child {
    position: sticky !important;
    left: 0;
}

.jobtimeline thead>tr>th:nth-child(2) {
    position: sticky !important;
    width: 120px;
    left: 120px;
}

.jobtimeline tbody>tr>td:first-child {
    position: sticky !important;
    left: 0;
    background: #ffffff;
}

.jobtimeline tbody>tr>td:nth-child(2) {
    position: sticky !important;
    width: 120px;
    left: 120px;
    background: #ffffff;
}

.withdrawn {
    background-color: #AA00FF;
    border: #AA00FF;
}