.circles-width {
  width: 30px;
  height: 30px;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}

.text-disabled {
  color: #b6cde7;
}

.text-notstarted {
  color: #0a56ae;
}

.bg-disabled {
  background-color: #ffffff;
}

.border-disabled {
  border: 1px solid #b6cde7;
}

.bg-in-progress {
  background-color: #0a56ae;
}

.border-in-progress {
  border: 1px solid #0a56ae;
}

.bg-completed {
  background-color: #10b967;
}

.border-completed {
  border: 1px solid #10b967;
}

.bg-withdrawn {
  background-color: #992ef2;
}

.border-withdrawn {
  border: 1px solid #992ef2;
}

.bg-rejected {
  background-color: #d90909;
}

.border-rejected {
  border: 1px solid #d90909;
}

.bg-skipped {
  background-color: #868384;
}

.border-skipped {
  border: 1px solid #868384;
}

.bg-notstarted {
  background-color: #ffffff;
}

.border-notstarted {
  border: 1px solid #0a56ae;
}

.overview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.overview-step-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overview-progress-line {
  border: 1px solid;
  width: 24px;
}

.overview-disabled-line {
  border: 1px dashed #b6cde7;
}

.overview-not-started-line {
  border: 1px dashed #0a56ae;
}

.overview-inprogress-line {
  border: 1px solid #0a56ae;
}

.overview-completed-line {
  border: 1px solid #10b967;
}

.overview-rejected-line {
  border: 1px solid #d90909;
}

.overview-withdrawn-line {
  border: 1px solid #992ef2;
}

.overview-skipped-line {
  border: 1px solid #868384;
}


