.custom-popover .popover {
    max-width: 500px !important;
    width: 500px !important;
    border-radius: 2em;
}

.progress-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.bg-gray {
    background-color: gray;
}

.border-gray {
    border: gray;
}

.bg-withdrawn {
    background-color: #AA00FF;
}

.border-withdrawn {
    border: #AA00FF;
}