.custom-popover .popover {
    max-width: 500px !important;
    width: 500px !important;
    border-radius: 2em;
}

.custom-assessment-popover .popover {
    max-width: 420px !important;
    width: 420px !important;
    border-radius: 2em;
}

.legend-tooltip .tooltip-inner {
    max-width: 370px !important;
    width: 370px !important;
    background-color: white;
    border: 1px solid #8080801d;
    color: black;
}

.legend-tooltip .arrow::before {
    border-bottom-color: white !important;
}
.progress-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.bg-gray {
    background-color: gray;
}

.border-gray {
    border: gray;
}

.bg-withdrawn {
    background-color: #AA00FF;
}

.border-withdrawn {
    border: #AA00FF;
}