.view-template {
    position: absolute;
    left:-30vw;
    width:30vw;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #e0e0e0 !important;
    z-index: -100;
    overflow: hidden;
}