.preview-content {
    border: 1px solid #ccc; 
    margin: auto;
  }
  
  .content {
    visibility: hidden;
  }
  
  .a4 {
    width: 210mm;
    height: 297mm;
    visibility: visible;
  }
  
  .a3 {
    width: 297mm;
    height: 420mm;
    visibility: visible;
  }
  
  .letter {
    width: 8.5in;
    height: 11in;
    visibility: visible;
  }
  