.droppable-container {
  border: grey 0.6px dotted;
  min-height: 100px;
  padding: 20px;
  position: relative;
}

.column-delete {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  display: none;
}

.column-delete:hover {
  color: red;
}

.droppable-container:hover .column-delete {
  display: block;
}

.row-title {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 600;
}

.editable {
  display: none !important;
}

.draggable-item:hover .editable {
  display: flex !important;
}

.droppable-drag-over {
  border: 1px solid #000;
  background: aliceblue;
}

.setting-container {
  position: relative;
  display: none;
  top: -35px;
  right:-25px;
  background: white;
}

.droppable-list {
  border: 1px dotted grey;
}

.setting-menu-item {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.setting-menu-item:hover {
  background: #b9b9b9;
}

.droppable-list:hover .setting-container {
  display: block;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

.setting-text:hover{
  color: #5b5b5b;
  transform: scale(1.05);
}