.styled-dropdown {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 100%;
}


.table-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simplebar-hght {
    height: 120px;
}