.styled-dropdown {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 100%;
}

.ball-1 {
    margin-top: 6px;
}

.ball-2 {
    margin-bottom: 6px;
}

.styled-line {
    flex: 1;
    width: 1px;
    background-color: black;
    align-items: center;
}