.preview-content-custom {
  overflow-y: auto;
  border: 1px solid #ccc;
  border-bottom: 10px solid black;
  position: relative;
}

.a4 {
  width: 210mm;
  height: 297mm;
  transform: scale(0.6); 
}

.a3 {
  width: 297mm;
  height: 420mm;
  transform: scale(0.4); 
}

.letter {
  width: 8.5in;
  height: 11in;
  transform: scale(0.75); 
}
