.overview-header {
  background-color: #fff;
  padding: 1rem .75rem 0.25rem .75rem;
  margin-top: -1.5rem;
  margin-right: calc(-1.5rem * 0.5);
  margin-left: calc(-1.5rem * 0.5);
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.031);
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 4.3rem;
  z-index: 1000;
}

.header-title {
  font-weight: 400;
  color: gray;
}

.header-subtitle {
  color: #0A56AE;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .header-title, .header-subtitle {
    font-size: 12px;
  }
}

@media (min-width: 1366px) {
  .header-title, .header-subtitle {
    font-size: 14px;
  }
}