.rdl-control {
  height: 250px !important;
}

.select-width {
  width: 40%;
  min-width: 250px;
}

.styled-dropdown {
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 100%;
}


.header-btn {
  height: 40px;
}

.simplebar-hght {
  height: 120px;
}